<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>Tailgate Sports Pub</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700%7CBenchNine:300,400,700' rel='stylesheet' type='text/css'>
	<script src="js/libs/jquery-1.11.2.js"></script>	
	<script src="js/libs/jquery-migrate.min.js"></script>
	<script src="js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
	<header>
		<div class="width-container">
			<h1 id="logo">
				<a href="/" title="Tailgate Sports Pub" rel="home">
					<img src="images/tgvb1.png" alt="Tailgate Sports Pub" width="320">
				</a>
			</h1>
			<div class="social-ico">
				<a href="contact.html"><i class="fa fa-map-marker"></i></a>
				<a href="https://www.facebook.com/thetailgatevb" target="_blank"><i class="fa fa-facebook"></i></a>
				<!-- <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a> --> 
			</div>

			<nav>
				<div class="menu-main-navigation-container">
					<ul id="menu-main-navigation" class="sf-menu">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="beers.html">Beers</a>
						</li>
						<li class="menu-item">
							<a href="taproom.html" class="sf-with-ul">Taproom</a>
							<ul class="sub-menu">
								<li>
									<a href="page-columns.html">Columns</a>
								</li>
								<li>
									<a href="page-faq.html">FAQ</a>
								</li>
								<li>
									<a href="page-maps-videos.html">Maps and Videos</a>
								</li>
								<li>
									<a href="page-shortcodes.html">Shortcodes Examples</a>
								</li>
								<li>
									<a href="homepage-fixed-header.html">Fixed Header</a>
								</li>
							</ul>	
						</li>
						<li>
							<a href="events.html">Events</a>
						</li>
						<li class="current-menu-item">
							<a href="blog.html">News</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>	
					</ul>
				</div>
			</nav>
			<div class="clearfix"></div>
		</div>
	</header>

	<div id="page-title">
		<div class="width-container">
			<h1>News</h1>
			<div id="bread-crumb">
				<span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to Tailgate Sports Pub." href="/" class="home"><i class="fa fa-home"></i></a></span> <i class="fa fa-angle-right"></i> <span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to the All Beers Beer Categories archives." href="beers.html">News</a></span> <i class="fa fa-angle-right"></i> <span typeof="v:Breadcrumb"><span property="v:title">Join our Brewery Tours</span></span>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
	<script type="text/javascript">jQuery(document).ready(function($) {   $("#page-title").backstretch([ "http://placehold.it/1800x425" ],{ fade: 750, }); }); </script>
	
	<div id="main">
		<div class="width-container bg-sidebar-pro">
			<div id="sidebar-border">
				<div id="content-container-sidebar">
					<div class="container-blog">
						<article>
							<div class="featured-blog-progression">
								<a href="http://placehold.it/900x500" rel="prettyPhoto">
									<img width="900" height="500" src="http://placehold.it/900x500" class="attachment-progression-blog wp-post-image" alt="controls computer room">
								</a>
							</div>
							<div class="blog-container-text">
								<div class="meta-progression">
											<span class="posted-meta-pro"><time class="entry-date" datetime="2014-09-11T00:16:31+00:00">September 11, 2014</time></span>
											<span class="author-meta-pro">By <a href="#" title="Posts by Mike" rel="author">Mike</a> in</span> 
											<span class="category-meta-pro"><a href="#" rel="category tag">News</a></span> 
											
											<span class="comment-meta-pro"><a href="blog-post.html#comments" title="Comment on Join our Brewery Tours"><i class="fa fa-comments-o"></i> 2</a></span>
											<div class="clearfix"></div>
								</div>
								
								<h2 class="blog-title">Join our Brewery Tours</h2>
								
								<div class="entry-content">
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut suscipit elit sed diam ultrices hendrerit. Vestibulum feugiat, urna eget ullamcorper tristique, est erat egestas diam, ac imperdiet libero neque sed velit. Curabitur fringilla tortor vitae nisi mattis, dignissim faucibus purus dictum. Sed vel volutpat sapien. Morbi quis tristique dolor. Fusce nec mattis diam. Duis rutrum vitae erat vel fringilla.</p>
									<p>Morbi sodales dapibus purus nec semper. Phasellus luctus volutpat mauris et dictum. Aliquam nulla ipsum, egestas non venenatis vel, luctus id felis. Proin nisi mauris, malesuada sit amet odio nec, commodo pretium diam. Phasellus nec libero nulla. Etiam id libero vitae orci elementum euismod. Aenean venenatis ultricies ultrices. Maecenas vehicula sed purus sodales consectetur.</p>
									
									<blockquote>
										<p>Cras ultrices dapibus felis. Praesent sit amet arcu tincidunt, semper lacus quis, pharetra enim.</p>
									</blockquote>
									
									<p>Praesent eu lorem metus. Curabitur malesuada, sem et accumsan bibendum, ligula lectus eleifend lorem, tempor molestie erat arcu nec orci. Phasellus tristique orci id ipsum interdum, vitae varius odio dictum. Ut pellentesque, turpis ut interdum vehicula, ligula lorem varius tortor, ut lobortis tellus justo eu augue.</p>
									<p>Aliquam tincidunt, nulla et rhoncus scelerisque, leo nisl dapibus dolor, ac facilisis quam justo vel nunc. Mauris quis lacus cursus, blandit felis congue, varius odio. Donec rhoncus convallis mattis. Ut id lorem risus. Integer ornare mauris vitae elit tempor pretium. Sed quis quam velit. Praesent commodo elit lorem, eget vehicula augue mollis et. Sed quis neque quis elit pretium condimentum. In porta tellus a aliquet vestibulum.</p>
								</div>
								<div id="nav-below" class="post-navigation">
									
									<div class="nav-previous">
										<a href="blog-post.html" rel="prev">
											<span>←</span> Previous Article
										</a>
									</div>
									<div class="nav-next">
										<a href="blog-post.html" rel="next">
											Next Article <span>→</span>
										</a>
									</div>
								</div>
								
								<div id="comments" class="comments-area">
									<h3 class="comments-title"> One comment on “<span>JOIN OUR BREWERY TOURS</span>”</h3>
									<ol class="commentlist">
										<li class="comment byuser comment-author-progressionstudios bypostauthor">
											<div class="comment">
												<div class="comment-meta">
													<div class="comment-author vcard">
														<img alt="" src="http://1.gravatar.com/avatar/ba52f9c3e9ebf4d37ffe96fc163ceaa4?s=70&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D70&amp;r=G" class="avatar avatar-70 photo" height="70" width="70">
														<span class="fn">Mike Garcia</span>
														<time datetime="2014-07-15T14:58:40+00:00">July 15, 2014 2:58 pm</time>
													</div>
												</div>
												<div class="comment-content">
													<p>Hi, this is a comment.<br> To delete a comment, just log in and view the post’s comments. There you will have the option to edit or delete them.</p>
												</div>
				
												<div class="reply">
													<a class="comment-reply-link" href="#">Reply</a>
												</div>
											</div>
										</li>
									</ol>
									<div class="clearfix"></div>
									<div id="respond" class="comment-respond">
										<h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
										<form action="#" method="post" id="commentform" class="comment-form">
											<p class="comment-notes">Your email address will not be published. Required fields are marked <span class="required">*</span></p>
											<p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required="true"></p>
											<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" aria-required="true"></p>
											<p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="text" value="" size="30"></p>
											<p class="comment-form-comment"><label for="comment">Comment</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p>
											<p class="form-submit"> <input name="submit" type="submit" id="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="92" id="comment_post_ID"> <input type="hidden" name="comment_parent" id="comment_parent" value="0"></p>
										</form>
									</div>
								</div>
							</div>
						<div class="clearfix"></div>
						</article>
					</div>
				</div>

	
				<div id="sidebar">
					<div class="sidebar-item widget widget_archive" id="archives-2">
						<h5 class="widget-title">Archives</h5>

						<ul>
							<li>
								<a href="#">September 2014</a>
							</li>

							<li>
								<a href="#">March 2014</a>
							</li>

							<li>
								<a href="#">February 2014</a>
							</li>

							<li>
								<a href="#">January 2014</a>
							</li>
						</ul>

						<div class="sidebar-divider"></div>
					</div>

					<div class="sidebar-item widget widget_categories" id="categories-2">
						<h5 class="widget-title">Categories</h5>

						<ul>
							<li class="cat-item">
								<a href="#">Uncategorized</a>
							</li>

							<li class="cat-item">
								<a href="#">News</a>
							</li>

							<li class="cat-item">
								<a href="#">Videos</a>
							</li>

							<li class="cat-item">
								<a href="#">Gallery</a>
							</li>
						</ul>

						<div class="sidebar-divider"></div>
					</div>

					<div class="sidebar-item widget flickr" id="flickr-widget-3">
						<h5 class="widget-title">Photos from Flickr</h5>

						<div class="flickr-widget flickr-widget-3"></div>

						<div class="sidebar-divider"></div>
					</div>
				</div><!-- close #sidebar -->
				<div class="clearfix"></div>		
			</div>
		</div>	
	</div>	
	

	<div id="pyre_homepage_media-widget-product-feat-2" class="widget pyre_homepage_media-product-feat">		
		<div class="footer-highlight">
			<div class="width-container">
				<h2 class="footer-highlight-widget">Newsletter</h2>	
				<div class="summary-text-pro">Subscribe to our newsletter and recieve special offers and discounts.</div>
				<div class="newletter-container"><!-- Begin MailChimp Signup Form -->
					<div id="mc_embed_signup"><form action="//progressionstudios.us1.list-manage.com/subscribe/post?u=1a06aa3bca8613232881e8a6e&amp;id=2f5a556941" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate=""><div class="mc-field-group"> <label for="mce-EMAIL">Enter Your Email Address </label> <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter Your E-mail Address"></div><div id="mce-responses" class="clear"><div class="response" id="mce-error-response" style="display:none"></div><div class="response" id="mce-success-response" style="display:none"></div></div><div style="position: absolute; left: -5000px;"><input type="text" name="b_1a06aa3bca8613232881e8a6e_2f5a556941" tabindex="-1" value=""></div><div class="clear"><input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button"></div></form></div>
					<!--End mc_embed_signup-->
				</div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	<div id="widget-area">
		<div class="width-container footer-3-column">
			<div id="pyre_social_media-widget-feat-2" class="widget pyre_social_media-feat">
				<h2 class="widget-title">Our Location</h2>
				<div class="social-icons-widget-pro">	
					<div>
						<strong>Growler Brewery</strong><br />
						1422 1st St. Santa Rosa, CA 94559<br /><br />
						<strong>Call for 
						Reservations</strong>: (707) 255-0211<br />
						<strong>E-mail</strong>: thetailgatevb@gmail.com
					</div>						
					<div class="social-ico">
						<a href="https://www.facebook.com/thetailgatevb" target="_blank"><i class="fa fa-facebook"></i></a>
						<!-- <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a> --> 
						<!-- <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a> -->
						<!-- <a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a> -->
						<!-- <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a> -->
					</div><!-- close .social-ico -->
				</div><!-- close .social-icons-widget-pro -->
			</div>
			
			<div id="our-hours-widget-2" class="widget hours"><h2 class="widget-title">TAPROOM HOURS</h2>			
				<ul class="open-hours">
					<li>
						<div class="date-day grid2column-progression">Monday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">1:00pm - 8:00pm</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Tuesday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">1:00pm - 8:00pm</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Wednesday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">1:00pm - 8:00pm</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Thursday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">1:00pm - 8:00pm</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Friday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">1:00pm - 8:00pm</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Saturday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">1:00pm - 8:00pm</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Sunday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">Closed</div>
						<div class="clearfix"></div>
					</li>
				</ul>	
			</div>
			
			<div id="flickr-widget-2" class="widget flickr">
				<h2 class="widget-title">Photos from Flickr</h2>
				<!-- Important: In Order to change your Flickr ID number, edit the script.js file, and replace this number: 52617155@N08 -->
				<div class="flickr-widget flickr-widget-2"></div>
			</div>	
		</div>
		<div class="clearfix"></div>
	</div>

	<footer>
		<div id="copyright">
			<div class="width-container">
				<div id="copyrigh-text">© 2015 All Rights Reserved. Developed by ProgressionStudios</div>
				<div class="menu-footer-navigation-container">
					<ul id="menu-footer-navigation" class="pro-footer-menu">
						<li class="menu-item current-menu-item">
							<a href="/">Home</a>
						</li>
						<li class="menu-item">
							<a href="beers.html">Beers</a>
						</li>
						<li class="menu-item">
							<a href="blog.html">News</a>
						</li>
						<li class="menu-item">
							<a href="contact.html">Contact</a>
						</li>
					</ul>
				</div>
			</div><!-- close .width-container -->
			<div class="clearfix"></div>
		</div><!-- close #copyright -->
	</footer>
	
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
<script src="js/libs/jquery-ui.min.js"></script>
</body>
</html>