<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>  <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<!-- <link rel="import" href="views/icon-header.html"> -->
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<meta charset="UTF-8">
	<title>Tailgate Sports Pub</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" type="text/css" href="css/settings.css" media="screen" />
	<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700%7CBenchNine:300,400,700' rel='stylesheet' type='text/css'>
	<script src="js/libs/jquery-1.11.2.js"></script>
	<script src="js/libs/jquery-migrate.min.js"></script>
	<script src="js/libs/modernizr-2.6.2.min.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-6027427-2', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body class="home">
	<header>
		<div class="width-container">
			<h1 id="logo">
				<a href="/" title="Tailgate Sports Pub" rel="home">
					<img src="images/tgvb1.png" alt="Tailgate Sports Pub" width="320">
				</a>
			</h1>
			<div class="social-ico">
				<a href="/contact"><i class="fa fa-map-marker"></i></a>
				<a href="https://www.facebook.com/thetailgatevb" target="_blank"><i class="fa fa-facebook"></i></a>
				<!-- <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a> -->
			</div>

			<nav>
				<div class="menu-main-navigation-container">
					<ul id="menu-main-navigation" class="sf-menu">
						<li class="current-menu-item">
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/menu">Menu</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="clearfix"></div>
		</div>
	</header>

	<div id="pro-home-slider"><!-- START REVOLUTION SLIDER 4.6.0 fullwidth mode -->
		<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
			<div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
				<ul>
					<!-- SLIDE  -->
					<li data-transition="zoomin" data-slotamount="7" data-masterspeed="300" data-thumb="http://placehold.it/320x200"  data-saveperformance="off"  data-title="Slide 1">

						<!-- MAIN IMAGE -->
						<img class="responsive-image" src="images/dummy.png"  alt="main-slider-1" data-lazyload="images/tailgatebar.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

						<!-- LAYERS -->

						<!-- LAYER NR. 1 -->
<!-- 						<div class="tp-caption Heading-Light-Growler sfb fadeout tp-resizeme"
							 data-x="160"
							 data-y="center" data-voffset="0"
							data-speed="500"
							data-start="900"
							data-easing="Power4.easeOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.05"
							data-endelementdelay="0.1"
							 data-endspeed="500"
							data-endeasing="Power1.easeOut"
						>
 -->
 						<div class="tp-caption Heading-Light-Growler sfb tp-resizeme responsive-image" data-x="250"
							 data-y="50" data-voffset="0">
						<img class="center responsive-image" src="images/dummy.png" data-lazyload="images/tgvblogo.png">
     					<strong>WELCOME TO THE TAILGATE SPORTS PUB<br /></strong>
						</div>

						<div class="tp-caption Button-Growler sfb fadeout tp-resizeme responsive-image"
							 data-x="732"
							 data-y="bottom" data-voffset="-25"
							data-speed="500"
							data-start="900"
							data-splitin="none"
							data-splitout="none"
						>
							<a href="/menu">VIEW OUR MENU</a>
						</div>
					</li>

				</ul>
				<div class="tp-bannertimer tp-bottom"></div>
			</div>
		</div><!-- END REVOLUTION SLIDER -->
	</div>

	<div id="main">
		<div class="widget home-widget pyre_homepage_media-port" id="pyre_homepage_media-widget-port-2">
			<div class="pyre_homepage_media-widget-port-2 portfolio-posts-home light-fonts-pro">
				<div style="vertical-align:middle; text-align:center" class="width-container">
					<img src="/images/sundayticket.png" class="attachment-progression-beers wp-post-image" alt="Bell's Two Hearted Ale" />
				</div>
				<div style="vertical-align:middle; text-align:center" class="menu-image-pro">
					<img width="250" height="250" src="/images/drafthost.png" class="attachment-progression-beers wp-post-image" alt="Bell's Two Hearted Ale" />
				</div>
			</div>
		</div>
	</div>

	<!-- <div id="main">
		<div class="widget home-widget pyre_homepage_media-port" id="pyre_homepage_media-widget-port-2">
			<div class="pyre_homepage_media-widget-port-2 portfolio-posts-home light-fonts-pro">
				<div class="width-container">
					<h1 class="home-widget">Events</h1>
					<div class="home-portfolio-boxes grid4column-progression">
						<article>
							<div class="event-container-pro">
								<div class="featured-event-img">
									<img alt="Don Bunch Show" class="attachment-progression-events wp-post-image" height="675" src="images/dbunch.jpeg" width="900">
								</div>

								<div class="event-content-index">
									<h3 class="entry-title summary">
										<strong>The Don Bunch Show</strong>
									</h3>

									<div class="event-meta-pro">
										<span class="entry-date date">
											<strong>
												Saturday
												<br>
												August 8, 2015
											</strong>
										</span>
									</div>
									<!-- <a class="progression-button view-event-btn-pro" href="single-event.html">View Event</a> -->
								<!-- </div>
							</div>
						</article>

						<div class="clearfix"></div>
					</div><!-- close .grid -->

					<!-- <div class="home-portfolio-boxes grid4column-progression">
						<article>
							<div class="event-container-pro">
								<div class="featured-event-img">
									<img alt="teixeira-stpreux" class="attachment-progression-events wp-post-image" height="675" src="images/teixeira-stpreux.jpg" width="900">
								</div>

								<div class="event-content-index">
									<h3 class="entry-title summary">
										<strong>UFC Fight Night</strong>
									</h3>

									<div class="event-meta-pro">
										<span class="entry-date date">
											<strong>
												Saturday
												<br>
												August 8, 2015
											</strong>
										</span>
									</div>
									<!-- <a class="progression-button view-event-btn-pro" href="teixeira-saintpreux.html">View Event</a> -->
								<!-- </div>
							</div>
						</article> -->

						<!-- <div class="clearfix"></div>
					</div><!-- close .grid -->

					<!-- <div class="clearfix"></div> -->
				<!-- </div><!-- close .width-container -->
			<!-- </div><!-- close #portfolio-posts-home -->
		<!-- </div>	  -->

		<div id="pyre_homepage_media-widget-menu-2" class="widget home-widget pyre_homepage_media-menu">
			<div class="pyre_homepage_media-widget-menu-2 portfolio-posts-home">
				<div class="width-container">
					<h1 class="home-widget">Featured Beers</h1>
					<div class="home-portfolio-boxes grid3column-progression">
						<article>
							<div class="menu-index-pro">
								<div class="menu-image-pro">
									<a href="/images/bellstwohearted.jpg" rel="Bell's Two Hearted Ale"><img width="356" height="352" src="/images/bellstwohearted.jpg" class="attachment-progression-beers wp-post-image" alt="Bell's Two Hearted Ale" /></a>
								</div>
								<div class="menu-content-pro">
									<h3>Bell's Two Hearted Ale</h3>
									<div class="pro_sub_header">ABV: 7.0%
									<br>
									<a href="http://www.beeradvocate.com/beer/profile/287/1093/">BA Score </a>: 95 (World Class)
								</div>
									<div class="menu_content_pro">
										<p>A significant malt body balances this hop presence; together with the signature fruity aromas of Bell's house yeast, this leads to a remarkably drinkable American-style India Pale Ale.</p>
									</div>
								</div>
							<div class="clearfix"></div>
							</div><!-- close .portfolio-index-text -->
						</article><!-- #post-## -->
					<div class="clearfix"></div>
					</div><!-- close .grid -->
					<div class="home-portfolio-boxes grid3column-progression">
						<article>
							<div class="menu-index-pro">
								<div class="menu-image-pro">
									<a href="/images/odis.png" rel="O'Connors Dry Irish Stout"><img width="356" height="352" src="/images/odis.png" class="attachment-progression-beers wp-post-image" alt="red-ale" /></a>
								</div>
								<div class="menu-content-pro">
									<h3>O'Connor's Dry Irish Stout</h3>
									<div class="pro_sub_header">ABV: 4.5%
										<br>
										<a href="http://www.beeradvocate.com/beer/profile/22783/66890/">BA Score </a>: NR
									</div>
									<div class="menu_content_pro">
										<p>A robust dry Irish stout, with a rich roasted malt aroma. Smooth and velvety on the palate, concluding with a lingering dry finish. ODIS is another in a long line of great Irish inspired beers. Searching for a pint of gold? Meet ODIS…</p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div><!-- close .portfolio-index-text -->
						</article><!-- #post-## -->
					<div class="clearfix"></div>
					</div><!-- close .grid -->
					<div class="home-portfolio-boxes grid3column-progression lastcolumn-progression">
						<article>
							<div class="menu-index-pro">
								<div class="menu-image-pro">
									<a href="/images/yvbc_pg.jpg" rel="YVBC Pineapple Grenade"><img width="356" height="352" src="/images/yvbc_pg.jpg" class="attachment-progression-beers wp-post-image" alt="YVBC Pineapple Grenade" /></a>
								</div>
								<div class="menu-content-pro">
									<h3>Young Veterans Pineapple Grenade</h3>
									<div class="pro_sub_header">ABV: 5.6%
										<br>
										<a href="http://www.beeradvocate.com/beer/profile/32954/102851/">BA Score</a>: NR
									</div>
									<div class="menu_content_pro">
										<p>This is our refreshing take on a classic style. This pineapple hefeweizen explodes with sweet and tangy fruit flavors backed by fragments of spicy clove and cinnamon. GO AHEAD… PULL THE PIN!</p>
									</div>
								</div>
								<div class="clearfix"></div>
							</div><!-- close .portfolio-index-text -->
						</article><!-- #post-## -->
					<div class="clearfix"></div>
					</div><!-- close .grid -->
				<div class="clearfix"></div>
				</div><!-- close .width-container -->
			</div><!-- close #portfolio-posts-home -->
		</div>

	<div class="clearfix"></div>
	</div><!-- close #main -->

<!-- 	<div id="pyre_homepage_media-widget-product-feat-2" class="widget pyre_homepage_media-product-feat">
		<div class="footer-highlight">
			<div class="width-container">
				<h2 class="footer-highlight-widget">Newsletter</h2>
				<div class="summary-text-pro">Subscribe to our newsletter and recieve special offers and discounts.</div>
				<div class="newletter-container">
					<div id="mc_embed_signup"><form action="//progressionstudios.us1.list-manage.com/subscribe/post?u=1a06aa3bca8613232881e8a6e&amp;id=2f5a556941" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate=""><div class="mc-field-group"> <label for="mce-EMAIL">Enter Your Email Address </label> <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter Your E-mail Address"></div><div id="mce-responses" class="clear"><div class="response" id="mce-error-response" style="display:none"></div><div class="response" id="mce-success-response" style="display:none"></div></div><div style="position: absolute; left: -5000px;"><input type="text" name="b_1a06aa3bca8613232881e8a6e_2f5a556941" tabindex="-1" value=""></div><div class="clear"><input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button"></div></form></div>

				</div>
			<div class="clearfix"></div>
			</div>
		</div>
	</div> -->

	<div id="widget-area">
		<div class="width-container footer-3-column">
			<div id="pyre_social_media-widget-feat-2" class="widget pyre_social_media-feat">
				<h2 class="widget-title">Our Location</h2>
				<div class="social-icons-widget-pro">
					<div>
						<strong>The Tailgate Sports Pub</strong><br />
						344 Constitution Drive Virginia Beach, VA 23462<br /><br />
						<strong>Phone</strong>: 757-961-3468<br />
						<strong>E-mail</strong>: thetailgatevb@gmail.com
					</div>
					<div class="social-ico">
						<a href="/contact"><i class="fa fa-map-marker"></i></a>
						<a href="https://www.facebook.com/thetailgatevb" target="_blank"><i class="fa fa-facebook"></i></a>
						<!-- <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a> -->
						<!-- <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a> -->
						<!-- <a href="http://linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a> -->
						<!-- <a href="http://instagram.com" target="_blank"><i class="fa fa-instagram"></i></a> -->
					</div><!-- close .social-ico -->
				</div><!-- close .social-icons-widget-pro -->
			</div>

			<div id="our-hours-widget-2" class="widget hours"><h2 class="widget-title">HOURS</h2>
				<ul class="open-hours">
					<li>
						<div class="date-day grid2column-progression">Monday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">11:00am - ?</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Tuesday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">11:00am - ?</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Wednesday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">11:00am - ?</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Thursday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">11:00am - ?</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Friday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">11:00am - ?</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Saturday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">11:00am - ?</div>
						<div class="clearfix"></div>
					</li>
					<li>
						<div class="date-day grid2column-progression">Sunday</div>
						<div class="hours-date grid2column-progression lastcolumn-progression">11:00am - ?</div>
						<div class="clearfix"></div>
					</li>
				</ul>
			</div>

<!-- 			<div id="flickr-widget-2" class="widget flickr">
				<h2 class="widget-title">Photos from Flickr</h2>
				Important: In Order to change your Flickr ID number, edit the script.js file, and replace this number: 52617155@N08
				<div class="flickr-widget flickr-widget-2"></div>
			</div>	 -->
		</div>
		<div class="clearfix"></div>
	</div>

	<footer>
		<div id="copyright">
			<div class="width-container">
				<div id="copyrigh-text">© 2015 All Rights Reserved. </div>
				<div class="menu-footer-navigation-container">
					<ul id="menu-footer-navigation" class="pro-footer-menu">
						<li class="menu-item current-menu-item">
							<a href="/">Home</a>
						</li>
						<li class="menu-item">
							<a href="/menu">Menu</a>
						</li>
						<li class="menu-item">
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</div><!-- close .width-container -->
			<div class="clearfix"></div>
		</div><!-- close #copyright -->
	</footer>

<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
<script src="js/libs/jquery-ui.min.js"></script>
<!-- RevSlider -->
<script src="js/revolution-slider.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
<!-- End RevSlider -->
</body>
</html>
